<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div class="main">
        <a href="{{url_for('register')}}">Sign up</a>

    <div class="login">
        <form>
            <label>Login</label>
            <center>{% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
                {% endwith %}</center>
            <input type="text" name="user_name" placeholder="User name">
            <input type="password" name="password" placeholder="Password">
            <form>
            <button type="submit" formaction="{{url_for('login')}}" method="get">Log in</button></form>
        </form>
    </div>
</div>
</body>
</html>